.root {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;

  @media (--sm-up) {
    max-width: 540px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (--md-up) {
    max-width: 820px;
  }

  @media (--lg-up) {
    max-width: 900px;
  }

  @media (--xl) {
    max-width: 1080px;
  }
}

.DetailsContainer {}
