<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kraken Marketplace</title>
    <!-- <link href="https://drive.google.com/file/d/1EIOzdVfBcC4cHnsUebDEMD1VMszmjWvv/view?usp=sharing" rel="icon" size="16x16" type="image/png" > -->
    <link href="/favicon/favicon-16x16.png" rel="icon" size="16" type="image/png" >
    <link href="/favicon/favicon-32x32.png" rel="icon" size="32" type="image/png" >
    <link href="/favicon/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/favicon/apple-touch-icon.png" rel="apple-touch-icon" size="57" type="image/png">
    <link href="/favicon/android-chrome-512x512.png" rel="apple-touch-icon" size="512" type="image/png">
    <link href="/android-chrome-192x192.png" rel="apple-touch-icon" size="192" type="image/png">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="msapplication-TileColor" content="#ffffff"> -->
    <meta name="msapplication-TileImage" content="./shared/assets/images/favicon/favicon-16x16.png">
    <!-- <meta name="msapplication-TileImage" content="https://streamr.network/resources/ms-icon.png"> -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js"></script>
    <style>@-ms-viewport { width: device-width; }</style>

</head>
    <body>
    <%/*
        Global site tag (gtag.js) - Google Analytics
        Is added here so that it can be read without rendering js on the page.
        We also set 'send_page_view': false so that the initial page load wouldn't send page view, otherwise it would get sent twice
    */%>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gaId %>"></script>
    <script>
        window.ga=window.ga||function(){ (ga.q=ga.q||[]).push(arguments)};ga.l=+new Date
        window.dataLayer = window.dataLayer || []
        function gtag(){dataLayer.push(arguments)}
        gtag('js', new Date())
        gtag('config', '<%= gaId %>', {
            'send_page_view': false,
        })
    </script>
    <div id="root"></div> <!-- React root -->
    <div id="modal-root"></div> <!-- Modal root -->
</body>
</html>
