.ReactTags__suggestions {
  position: absolute;
}

.ReactTags__suggestions ul {
  list-style-type: none;
  border: 0.5px solid #EFEFEF !important;
  border-radius: 4px;
  background: white;
  width: 220px;
  padding-left: 0;
}

.ReactTags__suggestions li {
  padding: 10px;
  margin: 0;
  list-style-type: none !important;
}

.ReactTags__suggestions li:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.ReactTags__tagInput {
  position: relative;
  border-radius: 2px;
  display: inline-block;
}

.ReactTags__tagInput input.ReactTags__tagInputField {
  border-radius: 4px;
  border: 0.4px solid #EFEFEF;
  padding: 7px 10px;
}

.ReactTags__tagInput input.ReactTags__tagInputField:active {
  border: 0.5px solid #2648FF;
}

.ReactTags__tagInput input ::placeholder {
  color: #DDDDDDDD;
}

/* selected tags */
.ReactTags__selected span.ReactTags__tag {
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  padding: 6px;
  margin: 5px 5px 5px 0;
}

.ReactTags__selected a.ReactTags__remove {
  color: #AAAAAA;
  margin-left: 5px;
  cursor: pointer;
}
